/* Keyboard Layout */
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 20px 0;
  left: 0;
  right: 0;
  width: 100vw;
  max-width: 500px; /* Limit maximum width on larger screens */
  margin-left: auto;
  margin-right: auto;
}

.key-row {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

/* Key Styles */
.keys {
  transition: all 0.2s ease;
  padding: 10px;
  margin: 2px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 1.2rem;
  min-width: 39px;
  height: 35px;
  text-align: center;
  color: black;
  background-color: #d3d6da;
  border: 2px solid #6a6a6a;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys:hover {
  opacity: 0.8;
}

/* Key Status Colors */
.keys.correct {
  background-color: #6aaa64 !important; /* Green for correct letters */
  color: white !important;
}

.keys.present {
  background-color: #c9b458 !important; /* Yellow for present letters */
  color: white !important;
}

.keys.absent {
  background-color: #787c7e !important; /* Gray for absent letters */
  color: white !important;
}

/* Key Sizes */
.keys.letter {
  flex: 0 0 auto; /* Fixed size for letter keys */
}

.keys.special {
  flex: 1 0 auto; /* Flexible size for special keys (Enter, Backspace) */
  width: auto;
  min-width: 50px;
  background-color: #868686;
  font-size: 0.8rem;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 480px) {

  .keys {
    padding: 8px;
    font-size: 1rem;
    min-width: 35px;
  }
}

@media screen and (max-height: 600px) and (orientation: landscape) {

  .keys {
    padding: 6px;
    font-size: 1rem;
    min-width: 35px;
  }
}

@media screen and (min-width: 768px) {

  .keys {
    padding: 12px;
    font-size: 1.2rem;
    min-width: 35px;
  }
}