/* Row Layout */
.row {
  display: flex;
  justify-content: center;
  margin: 0px;
}

/* Tile Styles */
.tile {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.2em;
  border: 2px solid black;
  transition: background-color 0.5s ease;
}

/* Tile Status Colors */
.correct {
  background-color: #6aaa64;
}

.present {
  background-color: #c9b458;
}

.absent {
  background-color: #787c7e;
}

/* Tile Flip Animation */
@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.tile.flip {
  animation: flip 0.7s ease forwards;
}

/* Input Tile Styles */
.row .input,
.tile .input {
  color: whitesmoke;
  border: 2px solid #d3d6da;
  animation: pulse 1.5s infinite;
}

/* Input Tile Pulse Animation */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(135, 138, 140, 0.7);
  }
  70% {
    box-shadow: 0 0 0 6px rgba(135, 138, 140, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(135, 138, 140, 0);
  }
}

/* Invalid Input Styles */
.invalid .input {
  border-color: #ff0000;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

/* Invalid Input Shake Animation */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}